<h1>Listing ciphers</h1>

<table>
  <tr>
    <th>Ciphername</th>
    <th>Ciphernumber</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ciphers.each do |cipher| %>
  <tr>
    <td><%= cipher.ciphername %></td>
    <td><%= cipher.ciphernumber %></td>
    <td><%= link_to 'Show', cipher %></td>
  <!-- <td><%= link_to 'Edit', edit_cipher_path(cipher) %></td> -->
   <!-- <td><%= link_to 'Destroy', cipher, confirm: 'Are you sure?', method: :delete %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cipher', new_cipher_path %>
