<p id="notice"><%= notice %></p>

<p>
  <b>Ciphername:</b>
  <%= @cipher.ciphername %>
</p>

<p>
  <b>Ciphernumber:</b>
  <%= @cipher.ciphernumber %>
</p>


<!-- <%= link_to 'Edit', edit_cipher_path(@cipher) %> | -->
<%= link_to 'Back', ciphers_path %>
